/* ---------------- GLOBAL ---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Outfit', sans-serif;
    background-color: #fff;
}

/* ---------------- NAVBAR ---------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4c1c1;
    padding: 20px 40px;
}

/* LOGO ONLY */
.logo {
    font-family: 'Caprasimo', serif;
    font-size: 28px;
    font-weight: bold;
}

/* NAV LINKS */
nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    font-family: 'Outfit', sans-serif;  
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

/* ---------------- PAGE TITLE ---------------- */
.page-title {
    font-weight: 900;
    text-align: center;
    font-size: 90px;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* ---------------- FORM ---------------- */
.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.app-form {
    background-color: #d8f5d0;
    padding: 40px;
    width: 450px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.app-form label {
    font-size: 22px;
}

.app-form input,
.app-form select {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #aaa;
    font-size: 18px;
   font-family: 'Outfit', sans-serif;
}

.submit-btn {
    margin-top: 10px;
    padding: 15px;
    background-color: #c7a4f9;
    border: none;
    border-radius: 12px;
    font-size: 22px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #b48af3;
}

/* ---------------- SUBMITTED ---------------- */

.success-message {
    text-align: center;
    margin-top: 40px;
}

.success-img {
    width: 200px;
    margin-bottom: 20px;
}

.success-message h2 {
    font-size: 32px;
    color: #4a4a4a;
}
