*{
    margin: 0px;
}

main{

    width: 100%;

}

body{
    width: 100%
}

.navbar{
    background-color: #f4c1c1;
    display: flex;
    justify-content: flex-end;
    height: 75px;

}

nav a{
    color:black;
    text-align: center;
    padding: 25px 55px 35px 55px;
    font-family: "Delius", cursive;
    font-weight: 400;
    text-decoration: none;
}

.cattitle{
    font-family: "Delius", cursive;
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-size: 90px;
    margin-top: 40px;
    margin-bottom:5px;

}


.navhover:hover{
    background:  #faadad;
    cursor: pointer;
}

.sampletext{
    align-items: center;
    display:flex;
    flex-direction: column;
   
}

.imageboxes{
    display:flex;
    justify-content: center;
    flex-direction: row;
}

.cat{
    height:600px;
    width:450px;
    margin-right: 40px;
    margin-left:30px;
    border-radius: 20px;
    margin-top:70px;
    margin-bottom:30px;
}

.subtitle{
    margin-top:70px;
    font-family: "Delius", cursive;
    font-weight: 200;
}

.sampledesc{
    font-family: "Delius", cursive;
    font-weight: 510;
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 35px;

}

.wearebtn{
    font-family: "Delius", cursive;
    height:60px;
    width: 140px;
    background-color: #cfe1b9;
    border-radius:10px;
    cursor:pointer;

}

.wedobtn{
    font-family: "Delius", cursive;
  height:60px;
    width: 140px;
    background-color: #e0c7f9;
    border-radius:10px;
    cursor:pointer;
}

.menubtn{
    font-family: "Delius", cursive;
  height:60px;
    width: 140px;
    background-color: #FFD700;
    border-radius:10px;
    cursor:pointer;
    
}


hr{
    margin-top: 50px;
    height:0.001px;
    background-color: black;
    margin-left:200px;
    margin-right:200px;
    opacity: 0.5;
}