body {
    font-family: 'Outfit', sans-serif;
    background: linear-gradient(to bottom, #fff7f7, #ffffff);
    margin: 0;
}

/* NAV */
nav {
    background-color: #f4c1c1;
}

/* CENTERED CONTENT */
.nav-inner {
    max-width: 1200px;
    margin: 0 auto;             
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

/* LOGO ONLY */
.logo {
    font-family: 'Caprasimo', serif;
    font-size: 28px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: black;
    font-family: 'Caprasimo', serif;
    font-size: 28px;
}

/* NAV LINKS */
nav ul {
    display: flex;
    list-style: none;   
    gap: 30px;   
}

nav a {
    position: relative;  
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

nav a.active {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: black;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

/* HERO */
.hero {
    text-align: center;
    padding: 90px 20px 40px;
}

.hero h1 {
    font-family: 'Caprasimo', serif;
    font-size: 64px;
    margin: 0;
}

.hero p {
    font-size: 18px;
    opacity: 0.7;
    margin-top: 10px;
}




/* SECTION CARD */
.section-card {
    max-width: 900px;
    margin: 50px auto;
    padding: 35px;
    background: white;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.10);
    text-align: center;
}

.section-card h2 {
    font-family: 'Caprasimo', serif;
    margin-bottom: 10px;
}

/* IMAGES */
.section-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 25px auto 60px;
}

.section-images img {
    width: 280px;
    height: 260px;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    transition: 0.2s ease;
}

.section-images img:hover {
    transform: translateY(-6px);
}

/* BUTTONS */
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 22px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: 0.2s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.pink { background: #f4c1c1; }
.green { background: #cfe1b9; }
.yellow { background: #ffe08a; }


.success-img {
    width: 180px;
    display: block;          
    margin: 20px auto;       
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0px); }
}