/* ---------------- GLOBAL ---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #ffffff;
    font-family: 'Outfit', sans-serif;
}

/* ---------------- NAVBAR ---------------- */
nav {
    background-color: #f4c1c1;
}

/* CENTERED CONTENT */
.nav-inner {
    max-width: 1200px;
    margin: 0 auto;             
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

/* LOGO ONLY */
.logo {
    font-family: 'Caprasimo', serif;
    font-size: 28px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: black;
    font-family: 'Caprasimo', serif;
    font-size: 28px;
}

/* NAV LINKS */
nav ul {
    display: flex;
    list-style: none;   
    gap: 30px;   
}

nav a {
    position: relative;  
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

nav a.active {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: black;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}
/* ---------------- PAGE TITLE ---------------- */
.menu-title {
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.menu-subtitle {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

/* ---------------- MENU GRID ---------------- */
.menu-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 40px;
}

/* ---------------- MENU CARD ---------------- */
.menu-card {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

.menu-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
}

.menu-card h3 {
    font-size: 28px;
    margin-top: 15px;
}

.menu-card p {
    font-size: 22px;
    margin-top: 5px;
    color: #444;
}