<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cats - Cat Cafe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
    <script defer src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Hanuman:wght@100..900&family=Outfit:wght@100..900&display=swap">
</head>
<body>

    <!-- NAVBAR -->
    <nav>
        <div class="nav-inner">
            <h1 class="logo">
                <a href="{{ url_for('home') }}">Cat Cafe</a>
            </h1>

            <ul>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('menu') }}">Menu</a></li>
                <li><a href="{{ url_for('cats') }}" class="active">Cats</a></li>
                <li><a href="{{ url_for('reviews') }}" >Reviews</a></li>
                <li><a href="{{ url_for('login') }}">Sign In</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('application') }}">Application</a></li>
                {% if session.get('user') %}
                        <li class="welcome-user">
                            Welcome, {{ session['user'] }} 🐾
                        </li>
                        <li class="dropdown">
                            <button class="dropbtn">
                                Account ⌄
                            </button>

                            <div class="dropdown-content">
                                <div class="dropdown-name">
                                    Welcome, {{ session['user'] }}
                                </div>

                        <a href="{{ url_for('my_application') }}">My Application</a>
                                <a href="{{ url_for('logout') }}">Logout</a>
                            </div>
                        </li>
                    {% endif %}
            </ul>
        </div>
    </nav>

    <!-- HEADER -->
    <section class="cats-header">
        <h2>CURRENT CATS</h2>
        <p>Check out all our cats that need a home!</p>
    </section>

    <!-- CAT GRID -->
    <section class="cat-container">

        {% for cat in cats %}
        <div class="cat-card">
            <h3>{{ cat[1] }}</h3>
            <img src="{{ url_for('static', filename='images/' + cat[10]) }}">
            <p>Age: {{ cat[2] }}</p>

            <a href="/cat/{{ cat[0] }}">
                <button>Meet Me!</button>
            </a>
        </div>
        {% endfor %}

       <!-- <div class="cat-card">
            <h3>Cathony</h3>
            <img src="{{ url_for('static', filename='images/cathony.jpg') }}" alt="Cathony">
            <p>Age: 1</p>
            <button>Meet Me!</button>
        </div>

        <div class="cat-card">
            <h3>Josh Whiskers</h3>
            <img src="{{ url_for('static', filename='images/josh whiskers.jpg') }}" alt="Josh Whiskers">
            <p>Age: 5</p>
            <button>Meet Me!</button>
        </div>

        <div class="cat-card">
            <h3>Meowbert</h3>
            <img src="{{ url_for('static', filename='images/meowbert.jpg') }}" alt="Meowbert">
            <p>Age: 7</p>
            <button>Meet Me!</button>
        </div>

        <div class="cat-card">
            <h3>Catherine</h3>
            <img src="{{ url_for('static', filename='images/catherine.jpg') }}" alt="Catherine">
            <p>Age: 3</p>
            <button>Meet Me!</button>
        </div>

        <div class="cat-card">
            <h3>Ginger</h3>
            <img src="{{ url_for('static', filename='images/ginger.jpg') }}" alt="Ginger">
            <p>Age: &lt; 1</p>
            <button>Meet Me!</button>
        </div>  -->

    </section>

    <section class ="cats-footer">
        <p> Now that you've checked out all our cats...</p>
        <a href="{{ url_for('application') }}">
            <button>Check out our Application!</button>
        </a>
    </section>

</body>
</html>