<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
    <script defer src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="nav-inner">
            <h1 class="logo">
                <a href="{{ url_for('home') }}">Cat Cafe</a>
            </h1>
            
            
            <ul>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('menu') }}">Menu</a></li>
                <li><a href="{{ url_for('cats') }}">Cats</a></li>
                <li><a href="{{ url_for('reviews') }}" >Reviews</a></li>
                <li><a href="{{ url_for('login') }}">Sign In</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('application') }}">Application</a></li>
                {% if session.get('user') %}
                <li class="welcome-user">
                    Welcome, {{ session['user'] }} 🐾
                </li>
                <li class="dropdown">
                    <button class="dropbtn">
                        Account ⌄
                    </button>
                    
                    <div class="dropdown-content">
                        <div class="dropdown-name">
                            Welcome, {{ session['user'] }}
                        </div>
                        
                        <a href="{{ url_for('my_application') }}">My Application</a>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <header class="hero">
        <h1>Cat Cafe</h1>
        <p>cozy coffee • cute cats • forever homes 🐾</p>
    </header>
    <img src="{{ url_for('static', filename='images/success.png') }}" class="success-img">
    
    <section class="section-card">
        <h2>Who We Are</h2>
        <p>We are a cat cafe that also works to place our cats in loving homes.</p>
        <a href="{{ url_for('about') }}" class="btn pink">Learn More</a>
    </section>
    
    <section class="section-images">
        <img src="{{ url_for('static', filename='images/melcattie.jpg') }}">
        <img src="{{ url_for('static', filename='images/void1.jpg') }}">
    <img src="{{ url_for('static', filename='images/darling1.jpg') }}">
</section>

<section class="section-card">
    <h2>What We Do</h2>
    <p>We serve food, coffee, and help our feline friends find homes!</p>
    <a href="{{ url_for('cats') }}" class="btn green">See Cats</a>
</section>

<section class="section-images">
    <img src="{{ url_for('static', filename='images/cafebreak.jpeg') }}">
    <img src="{{ url_for('static', filename='images/cafesandwich.jpeg') }}">
    <img src="{{ url_for('static', filename='images/cafedessert.jpeg') }}">
</section>

<section class="section-card">
    <h2>Menu</h2>
    <p>Some of our delicacies!</p>
    <a href="{{ url_for('menu') }}" class="btn yellow">View Menu</a>
</section>

</body>
</html>