<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    </head>
    <body>
        <main>
            <nav class = "navbar">
                <a class = "navhover" href="{{ url_for('about') }}">About</a>
                <a class = "navhover">Menu</a>
                <a class = "navhover" href="{{ url_for('cats') }}">Cats</a>
                <a class = "navhover">Reviews</a>
                <a class = "navhover" href="{{ url_for('login') }}">Sign In</a>
                <a class = "navhover">Contact</a>
            </nav>
            <section class = "title">
                <h1 class = "cattitle">Cat Cafe</h1>
            </section>

            <section class = "samples">
            <div class = "sampletext">
                <h2 class = "subtitle">WHO WE ARE</h2>
                <p class = "sampledesc">We are a cat cafe that also works to place our cats in loving homes!</p>
                <button class = "wearebtn">LEARN MORE</button>
            </div>
             <hr>
            </section>

            <section class = "sample">
            <div class = "imageboxes">
                <img class = "cat" src="{{ url_for('static', filename='images/melcattie.jpg') }}">
                <img class = "cat" src="{{ url_for('static', filename='images/void1.jpg') }}">
                <img class = "cat" src="{{ url_for('static', filename='images/darling1.jpg') }}">
            </div>
            <div class = "sampletext">
                <h2 class = "subtitle">WHAT WE DO</h2>
                <p class = "sampledesc">We serve delicious food and help our feline friends!</p>
                <button class = "wedobtn">CATS AVAILABLE</button>
            </div>
            <hr>
            </section>


            <section class = "sample">
            <div class = "imageboxes">
                <img class = "cat" src="{{ url_for('static', filename='images/cafebreak.jpeg') }}">
                <img class = "cat" src="{{ url_for('static', filename='images/cafesandwich.jpeg') }}">
                <img class = "cat" src="{{ url_for('static', filename='images/cafedessert.jpeg') }}">
            </div>
            <div class = "sampletext">
                <h2 class = "subtitle">MENU</h2>
                <p class = "sampledesc">Some of our delicacies!</p>
                <button class = "menubtn">MENU</button>
            </div>
            </section>
             <hr>

</section>

        </main>
    
        
        <script src="" async defer></script>
    </body>
</html>