<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cat Cafe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Outfit:wght@100..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Hanuman:wght@100..900&family=Outfit:wght@100..900&display=swap">


</head>
<body>

    <!-- NAVBAR -->
    <nav>
        <h1>Cat Cafe</h1>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('cats') }}">Cats</a></li>
        </ul>
    </nav>

    <!-- HOME CONTENT -->
    <section class="home">
        <h2>Welcome to Cat Cafe 🐱</h2>
        <p>
            A cozy place where you can enjoy delicious treats and meet adorable cats looking for their forever homes.
        </p>

        <div class="home-buttons">
            <a href="{{ url_for('cats') }}" class="btn">Meet Our Cats</a>
            <a href="{{ url_for('about') }}" class="btn">Learn About Us</a>
        </div>
    </section>

</body>
</html>