<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
        <main>
            <nav class = "navbar">
                <a class = "navhover" href="{{ url_for('about') }}">About</a>
                <a class = "navhover">Menu</a>
                <a class = "navhover" href="{{ url_for('cats') }}">Cats</a>
                <a class = "navhover">Reviews</a>
                <a class = "navhover" href="{{ url_for('login') }}">Sign In</a>
                <a class = "navhover">Contact</a>
            </nav>
            <section class = "title">
                <h1 class = "cattitle">Cat Cafe</h1>
                <h2 class = "logintitle">LOGIN</h2>
            </section>
            <section class = "form">
                <form>
                    <label for = "email" class = "logintxt">Email</label><br>
                    <input type = "text" id = "email" class = "box"  required placeholder = "Enter your email"><br>

                    <label for = "password" class = "logintxt">Password</label><br>
                    <input type = "text" id = "password" class = "box"  required placeholder = "Enter your password"><br>

                    <label for = "confirmpassword" class = "logintxt">Confirm Password</label><br>
                    <input type = "text" id = "confirmpassword" class = "box"  required placeholder = "Re-enter your password"><br>

                    <button type = "submit" class = "loginbtn">Login</button><br>
                    <label for = "confirmpassword" class = "registertext">Don't have an account? Register here</label><br>

                </form>
            </section>


            
        </section>
        </main>
    
        
        <script src="" async defer></script>
    </body>
</html>