<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
        <main>
            <nav class = "navbar">
                <a class = "navhover" href="{{ url_for('about') }}">About</a>
                <a class = "navhover">Menu</a>
                <a class = "navhover" href="{{ url_for('cats') }}">Cats</a>
                <a class = "navhover">Reviews</a>
                <a class = "navhover" href="{{ url_for('login') }}">Sign In</a>
                <a class = "navhover">Contact</a>
            </nav>
            <section class = "title">
                <h1 class = "cattitle">Cat Cafe</h1>
                <h2 class = "logintitle">LOGIN</h2>
            </section>
            <section class = "form">
                <form id = "formdata">
                    <label for = "email" class = "logintxt">Email</label><br>
                    <input type = "text" name = "email" id = "email" class = "box"  required placeholder = "Enter your email"><br>

                    <label for = "password" class = "logintxt">Password</label><br>
                    <input type = "text" name = "password" id = "password" class = "box"  required placeholder = "Enter your password"><br>

                    <label for = "confirmpassword" class = "logintxt">Confirm Password</label><br>
                    <input type = "text" id = "confirmpassword" class = "box"  required placeholder = "Re-enter your password"><br>

                    <button type = "submit" class = "loginbtn">Login</button><br>
                    <label for = "confirmpassword" class = "registertext">Don't have an account? Register here</label><br>

                </form>
            </section>


            
        </section>
        </main>
    
        
        <script>
            const form = document.getElementById("formdata")
            form.addEventListener("submit", async function(login) {
                login.preventDefault()

                var password = document.getElementById("password").value;
                var passcheck = document.getElementById("confirmpassword").value;

                if (password != passcheck){
                    alert("Re-entered password does not match");
                    return;
                }

                const loginInfo =  new FormData(form)

                try{
                const response = await fetch ("/login_send", {
                    method: "POST",
                    body: loginInfo

                })

                const js = await response.json()

            if (js.message){
                alert("Invalid Credentials")
                return;
            }
            
            window.location.href = "/"
            
        } catch(err){
            console.log(err)
        }
                
      
            })
        </script>
    </body>
</html>