<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="../static/css/menu.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Outfit:wght@100..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Hanuman:wght@100..900&family=Outfit:wght@100..900&display=swap">
</head>
<body>

  <nav>
        <h1 class="logo">Cat Cafe</h1>

        <ul>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('menu') }}">Menu</a></li>
            <li><a href="{{ url_for('cats') }}">Cats</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="{{ url_for('login') }}">Sign In</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="{{ url_for('application') }}">Application</a></li>
        </ul>
    </nav>

<h1 class="menu-title">Menu</h1>
<p class="menu-subtitle">DRINKS / ALL ITEMS</p>

<div class="menu-container">
    <div id="menu-grid" class="menu-grid">
    </div>
</div>

<script>
const menuItems = [
    { name: "Cafe Break", price: 5, img: "static/images/cafebreak.jpeg" },
    { name: "Cafe Dessert", price: 4, img: "static/images/cafedessert.jpeg" },
    { name: "Cafe Sandwich", price: 7, img: "static/images/cafesandwich.jpeg" },
    { name: "Latte", price: 5, img: "static/images/latte.jpg" },
    { name: "Croissant", price: 4, img: "static/images/croissant.png" },
    { name: "Muffin", price: 3, img: "static/images/muffin.png" },
    { name: "Tea", price: 3, img: "static/images/tea.png" },
    { name: "Cake Pop", price: 2, img: "static/images/cakepop.png" },
    { name: "Salad", price: 4, img: "static/images/salad.png" }
];

const container = document.getElementById("menu-grid");

menuItems.forEach(item => {
    const card = document.createElement("div");
    card.classList.add("menu-card");

    card.innerHTML = `
        <img src="${item.img}" alt="${item.name}">
        <h3>${item.name}</h3>
        <p>$${item.price}</p>
    `;

    container.appendChild(card);
});
</script>

</body>
</html>