<!DOCTYPE html>
<html>
<head>
    <title>My Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_application.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
    <script defer src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Hanuman:wght@100..900&family=Outfit:wght@100..900&display=swap">
</head>

<body>
    <nav>
        <div class="nav-inner">
            <h1 class="logo">
                <a href="{{ url_for('home') }}">Cat Cafe</a>
            </h1>

            <ul>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('menu') }}">Menu</a></li>
                <li><a href="{{ url_for('cats') }}">Cats</a></li>
                <li><a href="{{ url_for('reviews') }}" >Reviews</a></li>
                <li><a href="{{ url_for('login') }}">Sign In</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('application') }}">Application</a></li>
                 {% if session.get('user') %}
                <li class="welcome-user">
                    Welcome, {{ session['user'] }} 🐾
                </li>
                <li class="dropdown">
                    <button class="dropbtn">
                        Account ⌄
                    </button>

                    <div class="dropdown-content">
                        <div class="dropdown-name">
                            Welcome, {{ session['user'] }}
                        </div>

                        <a href="{{ url_for('my_application') }}">My Application</a>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

<h1 class="page-title">🐱 My Application</h1>

{% if app %}
<div class="application-card">
    <p><b>Name:</b> {{ app[0] }}</p>
    <p><b>Phone:</b> {{ app[1] }}</p>
    <p><b>Email:</b> {{ app[2] }}</p>
    <p><b>Address:</b> {{ app[3] }}</p>
    <p><b>Cat:</b> {{ app[4] }}</p>
    <p><b>Household:</b> {{ app[5] }}</p>
    <p><b>Other Pets:</b> {{ app[6] }}</p>
    <p><b>Housing:</b> {{ app[7] }}</p>
</div>
{% else %}
<p style="text-align:center;">You haven’t submitted an application yet.</p>
{% endif %}

</body>
</html>