<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Register</title>

    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <script defer src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">

</head>

<body>
<nav>
    <div class="nav-inner">
        <h1 class="logo">
            <a href="{{ url_for('home') }}">Cat Cafe</a>
        </h1>

        <ul>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('menu') }}">Menu</a></li>
            <li><a href="{{ url_for('cats') }}">Cats</a></li>
            <li><a href="{{ url_for('reviews') }}" >Reviews</a></li>
            <li><a href="{{ url_for('login') }}" class="active">Sign In</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('application') }}">Application</a></li>

            {% if session.get('user') %}
                <li class="welcome-user">Welcome, {{ session['user'] }} 🐾</li>
                <li class="dropdown">
                    <button class="dropbtn">
                        Account ⌄
                    </button>

                    <div class="dropdown-content">
                        <div class="dropdown-name">
                            Welcome, {{ session['user'] }}
                        </div>

                        <a href="{{ url_for('my_application') }}">My Application</a>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<h2 class="logintitle">Join the Cat Cafe 🐱</h2>
<p class="subtitle">Create your account</p>

<section class="form">

<form id="formdata">

    <div class="field">
        <label>Name</label>
        <input type="text" name="name" class="box" placeholder="Enter your name">
    </div>

    <div class="field">
        <label>Username</label>
        <input type="text" name="username" class="box" placeholder="Enter username">
    </div>

    <div class="field">
        <label>Email</label>
        <input type="text" name="email" class="box" placeholder="Enter email">
    </div>

    <div class="field">
        <label>Password</label>
        <input type="password" id="password" name="password" class="box" placeholder="Enter password">
    </div>

    <div class="field">
        <label>Confirm Password</label>
        <input type="password" id="confirmpassword" class="box" placeholder="Confirm password">
    </div>

    <button class="loginbtn" type="submit">Register</button>

    <p class="registertext">
        Already have an account?
        <a href="{{ url_for('login') }}">Login</a>
    </p>

</form>

</section>

<script>
const form = document.getElementById("formdata");

form.addEventListener("submit", async function(e) {
    e.preventDefault();

    const password = document.getElementById("password").value;
    const confirm = document.getElementById("confirmpassword").value;

    if (password !== confirm) {
        alert("Passwords do not match");
        return;
    }

    const formData = new FormData(form);

    const res = await fetch("/register_send", {
        method: "POST",
        body: formData
    });

    const data = await res.json();

    if (data.success) {
        window.location.href = "/login";
    } else {
        alert("Something went wrong");
    }
});
</script>

</body>
</html>